
 <div class="col-md-6">

<form id="myform" ng-submit="ok()">
<input ng-change="change()" type="text" class="form-control input-lg" ng-class="id_class" ng-model="id" placeholder="{{english}}">
<a ng-click="showHint()">Hint</a>
<alert ng-repeat="alert in alerts" type="alert.type" close="closeHint()">{{alert.msg}}</alert>
</div>

 <div class="col-md-6">
 <button type="submit" class="btn btn-primary btn-lg" >Ok?</button>

 <button class="btn btn-primary btn-lg" ng-click="next()">Next</button>

 </form>

</div>

  <div class="col-md-6">
<img ng-src="img/{{image}}">
</div>



