
<div class="row">

<h1>Select level</h1>





<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    <a href="#level0" type="button" class="btn btn-default btn-lg"> Images </a>
  <img src="img/kitten1.gif">
     <span class="badge">14/23</span>
  </li>

  <li class="list-group-item list-group-item-danger">
  
    <span class="badge">14/23</span>
        <a href="#level1" type="button" class="btn btn-default btn-lg">En/Ett</a>
            <img src="img/kitten2.gif">
  </li>

    <li class="list-group-item list-group-item-danger">
      
    <span class="badge">14/23</span>
        <a href="#level2" type="button" class="btn btn-default btn-lg">Verbs</a>
          <img src="img/kitten3.gif">
  </li>


</ul>

</div>

<div class="row">

<!-- http://marcoceppi.github.io/bootstrap-glyphicons/ -->
 <button type="button" ng-click="reset()" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-refresh"></span> Restart
</button>
</div>


<div class="row">


    <h2>Your badges</h2> 

Semla (20% completed)
<img width='100' src="img/semla.jpg" width='100%' alt="" class="img-thumbnail">
Lussekatt (50% completed)
<img  width='100' src="img/lussekat.jpg" width='100%' alt="" class="img-thumbnail">
Köttbullar (80% completed)
<img width='100'  src="img/kottbullar.jpg" width='100%' alt="" class="img-thumbnail">
Kannelbulle (100% completed)
<img width='100' height='100' src="" width='100%' alt="" class="img-thumbnail">


</div>